<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111979510200-03q8ku5h53gm31li7tkhggfrquvspr1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111979510200-03q8ku5h53gm31li7tkhggfrquvspr1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAwk9XfWCx-e2PSwkGPdn6v-k2LgC1x7iA</string>
	<key>GCM_SENDER_ID</key>
	<string>111979510200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chicshin.NotiTalk</string>
	<key>PROJECT_ID</key>
	<string>notitalk-74ec6</string>
	<key>STORAGE_BUCKET</key>
	<string>notitalk-74ec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111979510200:ios:a81fe044c5afaab5</string>
	<key>DATABASE_URL</key>
	<string>https://notitalk-74ec6.firebaseio.com</string>
</dict>
</plist>